@model SelectList

@{
	ViewBag.Title = "Sales Report";
}
<div>
<h2>
AnnualSalesReport.cshtml
</h2>
</div>

<div class="row my-3">

	<div class="col-2">
		<select id="reportSelect" name="year" asp-items="Model" class="form-control">
			<option value="">Select...</option>
		</select>
	</div>

	<ul id="itemList"></ul>

</div>

<script>

document.querySelector('#reportSelect').addEventListener('change', (event) => {
	let year = event.target.value;
	

	if (year.length > 0){
		fetch(`/Reports/AnnualSalesReportData?year=${year}`)
		.then(response => response.json())
		.then(data => {
					let ul = document.querySelector('#itemList');
							ul.replaceChildren();
						data.forEach(c => {
						let li = document.createElement("li");
						console.log(c);
							li.innerText = JSON.stringify(c);
						ul.appendChild(li);
					})
	})
}})

</script>